.circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

.current {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 10px;
}