.cart {
    cursor: pointer;
    width: 300px;
    text-align: center;
}

.list {
    width: 300px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
