.nav-item {
    margin-right: 20px;
    text-decoration: none;
    cursor: pointer;
}

.active {
    margin-right: 20px;
    color: green;
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
}