.order-form-page {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
}

.order-form-page__total {
    display: flex;
    gap: 12px;
    align-items: baseline;
}

.order-form-page__button {
    display: flex;
    justify-content: end;
    margin-right: 15%;
}